* {
    padding: 0;
    margin: 0; 
}
body {
    background-color: #F6F6F6;
}
@font-face {
  font-family: "Lato-Light";
   src: url(./font/Lato-Light.woff);
   src: url(./font/Lato-Light.woff2);
}

@font-face {
    font-family: "Lato-Bold";
  src: url(./font/Lato-Bold.woff);
  src: url(./font/Lato-Bold.woff2);
}
.container {
    width: 90%;
    max-width: 1170px;
    align-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.container>h1 {
    text-align: center;
    font-family: "Lato-Bold";
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 35px;
    text-transform: uppercase;
    word-spacing: 4px;
    letter-spacing: 3.8px;
    color: #3C3C3C;
}
.ds::after {
    display: inline-block;
    width: 40px;
    height: 1px;
    color: #DDDBDB;
    left: 50% -20px;
    padding-top: 50px;
}
.container>p {
    text-align: center;
    font-family: "Lato-Light";
    font-size: 16px;
    padding-left: 290px;
    padding-right: 290px;
    line-height: 25px;
    justify-content: center;
    padding-top: 50px;
    margin-bottom: 53px;
}
.imges {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
img {
    width: 270px;
    height: 270px;
}
.card  {
   width: 270px;
   height: 270px;
   text-decoration: none;
   position: relative;
   justify-content: space-between;
 }
 h2 {
    font-family: "Lato-Bold";
    font-size: 18px; 
    padding-top: 10px;
 }
ul {
    list-style: none;
}
.card {
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    perspective: 600px;
}
.people_card:hover .card {
    transform: rotateY(180deg);
}
.back, .front {
	width:270px;
	height:270px;
	left:0;
	top:0;
}
.back {
    background-color: #18B5DC;
    transform: rotateY(180deg);
    position: absolute;
}
.people_card {
	perspective: 600px;
}
li {
    display: inline;
    text-align: center;
}
.back {
    text-align: center;
}
.mdi {
    font-size: 30px;
    border: none;
    padding: 5px;
    background-color: #5ECBE7;
    color: #ffffff;
}
ul {
    padding-top: 120px;
}