 * {
    padding: 0;
    margin: 0;
    font-family: Trebuchet, Arial, sans-serif;
}
body {
    background-color: #3B3F45;
    width: 910px;	
    height: 580px;
    align-content: center;
    margin: 0px;
}
#collor {
    background-color: #3B3F45; 
    width: 10px;	
    height: 50px; 
    line-height: 1px;
}
#header_top {
    background-color: #4A4F56;
    height: 100px;
    width: 1360px;
    padding-top: 1px;
    
}
.text h1 {
    text-align: center;
    font-size: 21px;
    color: #EB7E7F;
    padding-left: 5px;
    padding-top: 5px;
    margin-top: 25px;
    line-height: 20px;
    
}
 .text h2 {
    font-size: 16px;
    color: #EB7E7F;
    padding-top: 0px;
    padding-left: 600px ;
}

   article {
       background-color: #3B3F45;
       width: 910px;
       height: 490px;
      
   }
   ul {
        width: 600px; 
        border-collapse: collapse; 
        margin: auto; 
        border: 500px;
        margin-top: 5px;
        align-content: center;
        list-style-type: none;
        padding-left: 376px ;
        
       }
       li {
        padding: 3px; 
        height: 40px;
        color: #F9F9F9;
       border-top: 2px solid transparent; 
       border-bottom: 2px solid transparent; 
       background-color: #88839E;
       line-height: 40px;
       }
        ul li:nth-child(2n) {
            background-color: #7A7593;
           }
        ul li:hover {
        background: #625E77;
        border-color: #FCFCFC;
        }
       
         b {
         font-size: 18px;
        }
        span {
        font-size: 12px;
        }
        p {
            position: absolute;
            text-align: right;
            color: #EB7E7F;
            font-size: 20px;
            background-color: #4A4F56;
            height: 35px;
            width: 600px;
            margin: 30px;
            text-align: center;
            left: 345px;
            margin-top: 30px;
            text-decoration: none;
            padding-top: 15px

            
            }
            input:checked + span {
                text-decoration: line-through;
                align-content: 20px;
            } 
         