/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.btn {
  background-color: #5474fd;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  overflow: hidden;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Aleo', serif;
  font-size: 16px;
  text-align: center;
  position: relative;
}
.btn::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 180%;
  height: 500%;
  left: -300px;
  top: -85px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: rgba(0, 0, 0, 0.1);
}
.btn:hover::before {
  left: 0;
}
.container {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
}
.lazy {
  background-image: none;
  background-color: #000000;
}
.bloc2 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(33, 33, 33, 0.8)), to(rgba(33, 33, 33, 0.8))), url(../img/bg2-min.jpg);
  background-image: -o-linear-gradient(left, rgba(33, 33, 33, 0.8) 0%, rgba(33, 33, 33, 0.8) 100%), url(../img/bg2-min.jpg);
  background-image: linear-gradient(to right, rgba(33, 33, 33, 0.8) 0%, rgba(33, 33, 33, 0.8) 100%), url(../img/bg2-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}
.bloc2 .container3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 160px;
  font-family: 'Aleo', serif;
}
.bloc2 .container3 .left {
  width: 90%;
  max-width: 541px;
}
.bloc2 .container3 .left h2 {
  font-size: 36px;
  font-family: 'Aleo', serif;
  font-weight: 400;
  padding-bottom: 50px;
  padding-top: 80px;
}
.bloc2 .container3 .left p {
  font-family: 'Josefin Sans', arial;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 5px;
  letter-spacing: 1px;
  line-height: 26px;
}
.bloc2 .container3 .left a {
  font-size: 16px;
  top: 40px;
  padding: 20px 39px;
}
.bloc2 .container3 .right {
  margin-left: 90px;
  padding-bottom: 120px;
}
.bloc2 .container3 .right .img {
  overflow: hidden;
  margin-bottom: 5px;
}
.bloc2 .container3 .right .img img {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  display: block;
}
.bloc2 .container3 .right .img img:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.bloc2 .container3 .right #img2 {
  padding-left: 130px;
}
.bloc2 .foot {
  background-color: #333333;
}
.bloc2 .foot .foo_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 980px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 90px 0px 110px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 36px;
  text-align: center;
  font-family: 'Aleo', serif;
}
.bloc2 .foot svg {
  width: 70px;
  height: 70px;
}
.bloc2 .foot p {
  padding-top: 10px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.bloc2 .foot p:hover {
  color: #ff6363;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}
.bloc2 .foot .f2::after {
  content: '';
  background-image: url(../img/punctir-min.png);
  position: absolute;
  background-repeat: no-repeat;
  max-width: 280px;
  width: 100%;
  height: 100px;
  -webkit-transform: rotate(16deg);
      -ms-transform: rotate(16deg);
          transform: rotate(16deg);
  margin-top: -185px;
  margin-left: -340px;
}
.bloc2 .foot .f2::before {
  content: '';
  background-image: url(../img/punctir-min.png);
  position: absolute;
  background-repeat: no-repeat;
  max-width: 280px;
  width: 100%;
  height: 100px;
  -webkit-transform: rotate(16deg);
      -ms-transform: rotate(16deg);
          transform: rotate(16deg);
  margin-top: -50px;
  margin-left: 80px;
}
.bloc3 {
  background-image: url(../img/bg3-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.bloc3 .container4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 228px;
  padding-bottom: 100px;
}
.bloc3 .container4 .bloc3-left {
  background-color: #252525;
  color: #ffffff;
  font-family: 'Josefin Sans', arial;
  width: 90%;
  max-width: 540px;
  opacity: 0.9;
  padding: 30px;
}
.bloc3 .container4 .bloc3-left p {
  font-size: 20px;
  padding-top: 17px;
}
.bloc3 .container4 .bloc3-left h4 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  padding-top: 32px;
}
.bloc3 .container4 .bloc3-left div {
  font-size: 16px;
  padding-top: 25px;
  padding-bottom: 60px;
  font-weight: 300;
  line-height: 25px;
}
.bloc3 .container4 .bloc3-left a {
  padding: 20px 63px;
  top: -20px;
}
.bloc4 {
  background-image: url(../img/bg4-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.bloc4 .container5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 228px;
  padding-bottom: 95px;
}
.bloc4 .container5 .bloc4-right {
  background-color: #252525;
  color: #ffffff;
  font-family: 'Josefin Sans', arial;
  width: 90%;
  max-width: 540px;
  opacity: 0.9;
  padding: 30px;
}
.bloc4 .container5 .bloc4-right p {
  font-size: 20px;
  padding-top: 21px;
}
.bloc4 .container5 .bloc4-right h4 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  padding-top: 32px;
}
.bloc4 .container5 .bloc4-right div {
  padding-bottom: 60px;
  font-size: 16px;
  padding-top: 25px;
  font-weight: 300;
  line-height: 25px;
}
.bloc4 .container5 .bloc4-right .bt {
  padding: 20px 63px;
  top: -20px;
}
.bloc5 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(33, 33, 33, 0.8)), to(rgba(33, 33, 33, 0.8))), url(../img/bg5-min.jpg);
  background-image: -o-linear-gradient(left, rgba(33, 33, 33, 0.8) 0%, rgba(33, 33, 33, 0.8) 100%), url(../img/bg5-min.jpg);
  background-image: linear-gradient(to right, rgba(33, 33, 33, 0.8) 0%, rgba(33, 33, 33, 0.8) 100%), url(../img/bg5-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}
.bloc5 .container6 {
  padding-top: 115px;
}
.bloc5 .container6 h2 {
  text-align: center;
  font-family: 'Aleo', serif;
  font-size: 36px;
  font-weight: 400;
}
.bloc5 .container6 .sumon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 90px;
  padding-bottom: 200px;
}
.bloc5 .container6 .sumon img {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}
.bloc5 .container6 .sumon img:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.bloc5 .container6 .sumon .sam {
  padding-top: 50px;
  padding-left: 60px;
  background-color: #333333;
  font-family: 'Josefin Sans', arial;
}
.bloc5 .container6 .sumon .sam p {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
}
.bloc5 .container6 .sumon .sam blockquote {
  padding-top: 41px;
  line-height: 26px;
  font-weight: 200;
}
footer {
  background-color: #232323;
  font-family: 'Josefin Sans Bold', arial;
  color: #ffffff;
}
footer .container7 {
  text-align: center;
  padding-top: 115px;
  padding-bottom: 50px;
}
footer .container7 h4 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
}
footer .container7 p {
  font-family: 'Josefin Sans', arial;
  font-size: 16px;
  font-weight: 200;
  padding-top: 13px;
  letter-spacing: 1px;
}
footer .container7 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  max-width: 170px;
  width: 90%;
  margin: 0 auto;
}
footer .container7 ul li {
  display: inline-block;
}
footer .container7 ul li a {
  list-style: none;
}
footer .container7 ul li a path {
  fill: #ffffff;
}
footer .container7 ul li a:hover path {
  fill: #5474fd;
  stroke: #5474fd;
  -webkit-transition: ease 1s;
  -o-transition: ease 1s;
  transition: ease 1s;
}
@media screen and (max-width: 1050px) {
  .foot .foo_container .f2::after {
    background-image: url(../img/punctir_200-min.png);
    -webkit-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
            transform: rotate(2deg);
    margin-left: -300px;
  }
  .foot .foo_container .f2::before {
    background-image: url(../img/punctir_200-min.png);
    -webkit-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
            transform: rotate(2deg);
    margin-left: 100px;
  }
}
@media screen and (max-width: 1000px) {
  header .container2 {
    padding-bottom: 5px;
  }
  header .container2 h3 a {
    font-size: 18px;
  }
  .foot .foo_container svg {
    width: 45px;
    height: 45px;
  }
  .foot .foo_container p {
    font-size: 26px;
  }
  .foot .foo_container .f2::after {
    background-image: none;
  }
  .foot .foo_container .f2::before {
    background-image: none;
  }
}
@media screen and (max-width: 950px) {
  .bloc1 {
    background-image: url(../img/bg1_700px-min.jpg);
  }
  .bloc2 .container3 .right .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bloc2 .container3 .right .img #img2 {
    padding-left: 0px;
  }
  .bloc5 .container6 .sumon img {
    max-width: 350px;
    width: 100%;
  }
}
@media screen and (max-width: 780px) {
  .bloc1 .container1 .Bhromaon h1 {
    font-size: 40px;
  }
  .bloc1 .container1 .Bhromaon p {
    font-size: 18px;
  }
  .bloc1 .container1 .input input {
    max-width: 300px;
  }
  header .container2 nav {
    display: none;
  }
  .bloc2 .container3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .bloc2 .container3 .left {
    margin-top: -100px;
    padding-bottom: 80px;
  }
  .bloc2 .container3 .left .bt {
    margin: 0 auto;
    top: 40px;
  }
  .bloc2 .container3 .right {
    margin: 0 auto;
    padding-bottom: 100px;
  }
  .bloc2 .container3 .right .img img {
    padding-top: 20px;
  }
  .bloc3 .container4 {
    padding-top: 120px;
  }
  .bloc3 .container4 .bloc3-left {
    margin: 0 auto;
  }
  .bloc3 .container4 .bloc3-left .bt {
    margin: 0 auto;
    top: 3px;
  }
  .bloc4 .container5 {
    padding-top: 120px;
  }
  .bloc4 .container5 .bloc4-right {
    margin: 0 auto;
  }
  .bloc4 .container5 .bloc4-right .bt {
    margin: 0 auto;
    top: 3px;
  }
  .bloc5 .container6 .sumon img {
    max-width: 250px;
    width: 100%;
  }
  .bloc5 .container6 .sumon .sam {
    padding-top: 20px;
  }
  .bloc5 .container6 .sumon .sam blockquote {
    padding-top: 10px;
  }
  footer .container7 {
    padding-top: 50px;
  }
}
@media screen and (max-width: 700px) {
  header {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .bloc5 .container6 .sumon {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bloc5 .container6 .sumon .sam {
    max-width: 450px;
    padding-top: 40px;
    padding-left: 20px;
  }
  .bloc5 .container6 .sumon .sam blockquote {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .bloc5 .container6 .sumon img {
    max-width: 450px;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .bloc1 .container1 .Bhromaon h1 {
    font-size: 40px;
  }
  .bloc1 .container1 .Bhromaon p {
    font-size: 18px;
  }
  .bloc1 .container1 .input input {
    max-width: 250px;
    font-size: 13px;
    letter-spacing: 1px;
  }
  .bloc5 .container6 h2 {
    font-size: 40px;
  }
  .bloc5 .container6 .sumon {
    padding-bottom: 70px;
  }
  .bloc5 .container6 .sumon img {
    max-width: 350px;
  }
  .bloc5 .container6 .sumon .sam {
    max-width: 350px;
  }
}
@media screen and (max-width: 455px) {
  .bloc1 .container1 .Bhromaon h1 {
    font-size: 40px;
  }
  .bloc1 .container1 .Bhromaon p {
    font-size: 18px;
  }
  .bloc1 .container1 .input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .bloc1 .container1 .input input {
    margin: 0 auto;
    max-width: 250px;
    font-size: 13px;
    letter-spacing: 1px;
  }
  .bloc1 .container1 .input button {
    margin: 0 auto;
    top: 30px;
  }
  .bloc5 .container6 h2 {
    font-size: 40px;
  }
  .bloc5 .container6 .sumon {
    padding-bottom: 70px;
  }
  .bloc5 .container6 .sumon img {
    max-width: 250px;
  }
  .bloc5 .container6 .sumon .sam {
    max-width: 250px;
  }
  .bloc2 .container3 .left {
    max-width: 250px;
  }
  .bloc2 .container3 .right {
    margin: 0 auto;
    padding-bottom: 100px;
  }
  .bloc2 .container3 .right .img img {
    width: 100%;
    max-width: 250px;
  }
  .foot .foo_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .foot .foo_container .f1,
  .foot .foo_container .f2,
  .foot .foo_container .f3 {
    padding-top: 50px;
  }
}