* {
    padding: 0;
    margin: 0;
   
}
.container {
    background-color: #FFFFFF;
    width: 90%;
    height: 945px;
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    text-align: justify;
    align-content: center;
    margin-left: 70px;
    margin-top: 40px;
    -webkit-box-shadow: 0px 1px 49px -31px rgba(0,0,0,0.73);
-moz-box-shadow: 0px 1px 49px -31px rgba(0,0,0,0.73);
box-shadow: 0px 1px 49px -31px rgba(0,0,0,0.73);
}
.fir {
    display: flex;
    flex-direction: row;
    text-align: justify;
    align-content: center;
}
h1 {
    font-size: 40px;
    padding-top: 123px;
    padding-left: 135px;
    letter-spacing: 1px;
    font-family: 'Playfair Display', serif;
}
.fir>p:first-letter {  
    font-size: 110px; 
    color: #171717; 
    font-family: 'Playfair Display', serif;
    float: left;
    line-height: 90px;
}
@font-face {
    font-family: 'Lato', sans-serif;
}
@font-face {
    font-family: 'Playfair Display', serif;
}
p {
    text-align: justify;
    font-size: 18px;
    width: 990px;
    padding-top: 25px;
    padding-left: 130px;
    word-spacing: 5px;
    line-height: 35px;
    font-family: 'Lato', sans-serif;
    color: #A1A1A1;
}
blockquote>p {
    font-style: italic;
    font-size: 25px;
    padding-top: 40px;
    padding-left: 160px;
}
a  {
     text-decoration: none; 
}
button {
    text-transform: uppercase;
    color: #EAA258;
    border: 2px solid #EAA258; 
    background: #ffffff; 
    font-size: 16px;
    padding: 24px 70px;
    margin-top: 10px;
    margin-left: 5px;
    letter-spacing: 4px;
   }
   