* {
    padding: 0;
    margin: 0;
   
}
body {
    background-color: #FDDE7E;
}
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 40px;
    justify-content: space-around;
    align-items: center;
}
.itm {
height: 450px;
justify-content: space-between;
background-color: #FFFFFF;
list-style: none;
border: 1px #FFFFFF;
border-radius: 1%;
width: 370px;
align-content: center;
}
@font-face {
    font-family: Miso; 
    src: url(./08_hw_2/miso/Miso.woff); 
    src: url(./08_hw_2/miso/Miso.woff2);
}
div {
   text-align: center;
   font-size: 35px;
   padding-top: 20px;
   color: #333333;
   font-family: Miso; 
   src: url(./08_hw_2/miso/Miso.woff);
   src: url(./08_hw_2/miso/Miso.woff2);
   
}
p {
    font-size: 20px;
    width: 150px;
    padding-left: 110px;
    padding-top: 10px;
    font-family: 'Lato', sans-serif;
}
.itm2 {
    height: 500px;
}
.itm2 p {
    width: 130px;
    padding-left: 120px;
    padding-top: 30px;
}
b {
    font-size: 85px;
    color: #02995B;
}
