* {
    padding: 0;
    margin: 0; 
}
@font-face {
    font-family: 'Raleway';
}
body {
    background-color: #B07CF7;
    
}
.container {
    width: 90%;
    max-width: 1170px;
    align-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.container>h1 {
    text-align: center;
    color: #FFFFFF;
    font-family: 'Raleway';
    font-size: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 22px;
}
.container>p {
    font-size: 16px;
    color: #FDFCFF;
    text-align: center;
    font-family: 'Raleway';
    padding-left: 300px;
    padding-right: 300px;
    line-height: 25px;
    justify-content: center;
}
.imges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 45px;
    width: 1170px;
    height: 310px;
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
    
}
a {
   width: 370px;
   height: 310px;
   text-decoration: none;
   position: relative;
   
}
img {
  width: 370px;  
  height: 310px;
  z-index: 1;
}
.imges b {
    border: 1px solid none;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.3);;
    font-size: 24px;
    text-transform: uppercase;
    text-align: justify;
    font-family: 'Raleway';
    width: 60px;
    display: inline-block;
    text-align: center;
    height: 60px;
    line-height: 27px;
    top: 30px;
    left: 30px;
    position: absolute;
    z-index: 2;
    font-weight: 50px;
}
h2 {
    color: #FFFFFF;
    font-family: 'Raleway';
    font-size: 20px;
    z-index: 2;
    position: absolute;
    top: 205px;
    left: 20px;
}
span {
    color: #FFFFFF;
    font-family: 'Raleway';
    font-size: 13px;
    z-index: 2;
    position: absolute;
    bottom: 24px;
    left: 20px;
}

.button {
    margin-top: 50px;
    text-align:center;
    margin-bottom: 120px;
  }
  .button a {
    font-family: 'Raleway';
    display:inline-block;
    width:200px;
    height:55px;
    line-height:55px;
    font-size:20px;
    color:#fff;
    text-align:center;
    background-color:#F72B3B;
    text-transform:uppercase;
    text-decoration:none;
    box-shadow:  0 3px 5px rgba(0,0,0,0.22), 0 3px 5px rgba(0,0,0,0.25);
  }
.button a:hover {
    font-family: 'Raleway';
    display:inline-block;
    width:200px;
    height:55px;
    line-height:55px;
    font-size:20px;
    color:#F72B3B;
    text-align:center;
    background-color:#FFFFFF;
    text-transform:uppercase;
    text-decoration:none;
    border: 1px solid #F72B3B;
}
.rgba {
    position: absolute;
    width: 370px;
    height: 155px;
    margin-top: -160px;
    background: -moz-linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* ie10+ */
background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* ie6-9 */
}